.pic img{

    width:98% !important;
}

.rt-case-study-box.element-four .rt-case-study-box-item > .holder > .pic > .holder{


    background-size: contain !important;
    transform: scale(0.9);
}

#tekst > p{
    color:white;
}

.vc_custom_1608531760439{
    background-image: none!;
}